{% extends "layouts/layout.html" %}

{% block header %}
    <div class="bg-gray-light border-bottom border-gray-light">
        <div class="container text-center py-5 mb-4">
            <img src="{{ url_for('static', filename='img/imfull_logo.png') }} class="width='500' height='500.5'"/>
            <div class="mt-3 mb-4">
                <h1 class="h1 mb-0">i'm full</h1>
                <h2 class="h4 text-gray font-weight-light">feed families with the food you don't eat</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <form>
                            <fieldset>
                                <legend>produce</legend>
                                <p>
                                    <label>Select list</label>
                                    <select id="myList1">
                                        <option value="1">vegetables</option>
                                        <option value="2">fruits</option>
                                    </select>
                                    <input placeholder="insert amount /lb">
                                </p>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-sm">
                        <form>
                            <fieldset>
                                <legend>meat</legend>
                                <p>
                                    <label>Select list</label>
                                    <select id="myList2">
                                        <option value="1">beef</option>
                                        <option value="2">chicken</option>
                                    </select>
                                    <input placeholder="insert amount /lb">
                                </p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <form>
                        <fieldset>
                            <legend>dairy</legend>
                            <p>
                                <label>Select list</label>
                                <select id="myList3">
                                    <option value="1">milk</option>
                                    <option value="2">cheese</option>
                                </select>
                                <input placeholder="insert amount /lb">
                            </p>
                        </fieldset>
                </div>
                </form>
                <div class="col-sm">
                    <form class="left">
                        <fieldset>
                            <legend>wheat</legend>
                            <p>
                                <label>Select list</label>
                                <select id="myList4">
                                    <option value="1">bagels</option>
                                    <option value="2">bread</option>
                                </select>
                                <input class="" placeholder="insert amount /lb">
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>>
        <div class="container text-center py-5 mb-4">
            <a class="btn btn-primary" href="https://github.com/MLH/mlh-hackathon-flask-starter">
                calculate!
            </a>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block content %}
    <div class="text-gray-light text-center py-5 my-5">
        <p class="lead">Edit <code>controllers/</code> to update how to receive and reply to requests.</p>
        <p class="lead">Edit <code>templates/</code> to update the layout and styling.</p>
        <p class="lead">Edit <code>models/</code> to update how the data is stored.</p>
    </div>
{% endblock %}
