{% extends 'layout.html' %}

{% block header %}
  <div class='bg-dark text-light'>
    <div class='container py-5 my-4'>
      <h1 class='h3 mb-1'>Hackathon Starter Kit</h1>
      <h2 class='h6 text-secondary'>Presented by GitHub & MLH</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class='container my-5'>
    <h3>Getting Started</h3>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque leo eu imperdiet tincidunt. Nullam cursus massa lacus, eget ornare urna lobortis id. Vivamus enim augue, lacinia vel tellus eu, commodo varius lectus. Maecenas quam orci, vestibulum et hendrerit vitae, accumsan quis ligula.</p>
    <p>Mauris varius dui ut ipsum pretium fringilla. Sed ac magna nec ante vestibulum feugiat. Vivamus vel mauris metus. Aliquam erat volutpat. Aenean commodo velit sed vestibulum sagittis. Integer viverra lobortis facilisis. Donec gravida iaculis sagittis. In hac habitasse platea dictumst. Aenean tristique gravida velit.</p>
    <br/>
    <h3>Installation</h3>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque leo eu imperdiet tincidunt. Nullam cursus massa lacus, eget ornare urna lobortis id. Vivamus enim augue, lacinia vel tellus eu, commodo varius lectus. Maecenas quam orci, vestibulum et hendrerit vitae, accumsan quis ligula.</p>
    <p>Mauris varius dui ut ipsum pretium fringilla. Sed ac magna nec ante vestibulum feugiat.</p>
    <br/>
    <h3>Contributing</h3>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque leo eu imperdiet tincidunt.</p>
    <p>Mauris varius dui ut ipsum pretium fringilla. Sed ac magna nec ante vestibulum feugiat.</p>
  </div>
{% endblock %}
