<nav class="navigation container">
  <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <a href="/" class="text-decoration-none text-dark">
        <h1 class="h5 m-0">{Project Name}</h1>
      </a>
      <a class="nav-item p-2 m-1" href="{{ url_for('github.index') }}">
        GitHub API
      </a>
    </div>
    <div class="d-flex">
      {% if g.user %}
        <span class="nav-item p-2 m-1 text-secondary">
          <img src="{{ g.user['avatar_url'] }}" class='rounded mr-1' style='width:25px; height:25px;'/>
          {{ g.user['username'] }}
        </span>
        <span class="nav-item p-2 m-1">
          <a href="{{ url_for('auth.logout') }}">Log out</a>
        </span>
      {% else %}
        <span class="nav-item p-2 m-1">
          <a href="{{ url_for('auth.login') }}">Sign in</a>
        </span>
        <span class="nav-item p-2 m-1">
          <a href="{{ url_for('auth.register') }}">Sign up</a>
        </span>
      {% endif %}
    </div>
  </div>
</nav>
