{% extends "guides/base.html" %}
{% from "guides/repo.html" import render_repo with context %}

{% block title %}Fetching Data{% endblock %}
{% block subtitle %}Learn how to request data from GitHub.{% endblock %}

{% block container %}
  <h5 class="py-1 m-0">Fetching your starred repos</h5>
  <p class="text-gray mt-3 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique bibendum porta. In pulvinar, lorem molestie cursus consequat, augue tellus ultrices erat, vitae dictum nulla mauris ut libero.<p>
  {% if repos|length == 0 %}
    <div class="bg-light rounded p-5 text-center text-muted">
      {% if g.user %}
        <p>You haven't starred any repositories on GitHub yet. You can star this project here.</p>
      {% else %}
        <p>This example requires an authenticated user. Please log in to see your starred repositories.</p>
      {% endif %}
    </div>
  {% endif %}

  {% for item in repos %}
    {{ render_repo(item, loop) }}
  {% endfor %}
{% endblock %}
