{% extends "guides/base.html" %}
{% from "guides/repo.html" import render_repo with context %}

{% block title %}Fetching Data{% endblock %}
{% block subtitle %}Learn how to request data from GitHub.{% endblock %}

{% block container %}
  <h5 class="py-1 m-0">Fetching your starred repos</h5>
  <p>You can request data from the GitHub API using the <code>services/github.py</code> module. This makes it easier to make authenticated requests.<p>
  <p>To fetch data from the API, you can use this module to make a GET request.</p>
  <pre class="bg-light rounded">
    <code>
      github = GitHub(access_token=session['access_token'])
      results = github.get('/user/starred')
    </code>
  </pre>
  {% if repos|length == 0 %}
    <div class="bg-light rounded p-5 text-center text-muted">
      {% if g.user %}
        <p class="m-4">You haven't starred any repositories on GitHub yet. You can star this project here.</p>
      {% else %}
        <p class="m-4">This example requires an authenticated user. Please log in to see your starred repositories.</p>
      {% endif %}
    </div>
  {% endif %}

  {% for item in repos %}
    {{ render_repo(item, loop) }}
  {% endfor %}
{% endblock %}
