{% extends "guides/base.html" %}
{% from "guides/repo.html" import render_repo with context %}

{% block title %}Searching Data{% endblock %}
{% block subtitle %}Learn how to find new repo on GitHub.{% endblock %}

{% block container %}
  <h5 class="py-1 m-0">Searching GitHub</h5>
  <p class="text-gray mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique bibendum porta. In pulvinar, lorem molestie cursus consequat, augue tellus ultrices erat, vitae dictum nulla mauris ut libero.<p>
  <div class="text-center mx-auto mb-3">
    <form action="{{ url_for('guides.search') }}" method="get" class="d-flex">
      <input name="query" class="form-control form-control-sm" placeholder="Search for repos" />
      <button type="submit" class="btn btn-primary btn-sm ml-1">Search</button>
    </form>
  </div>

  {% if repos|length == 0 %}
    <div class="rounded bg-light p-5 text-center text-muted">
      {% if g.user %}
        <p class="m-4">You can use the search bar above to find new projects.</p>
      {% else %}
        <p class="m-4">Cannot find a repository that matches that input. Please try again.</p>
      {% endif %}
    </div>
  {% endif %}

  {% for item in repos %}
    {{ render_repo(item, loop) }}
  {% endfor %}
{% endblock %}
