/* Custom stylesheet */

.nav-link:hover {
  color: inherit;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
}
