<!DOCTYPE html>
<html lang='en'>
  <head>
    {% block head %}
    <meta charset='utf-8'>
    <title>My Hackathon Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/markdown.min.css') }}" >
    {% endblock %}
  </head>
  <body class='d-flex flex-column' style='min-height: 100vh;'>
    {% include 'nav.html' %}

    {% include 'flash.html' %}

    {% block header %}{% endblock %}

    <div class='content' style='flex-grow: 1;'>
      {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
