{% extends 'layout.html' %}

{% block content %}
<div class='container my-5 pt-5'>
  <div class='row'>
    <div class='col-md-6 offset-md-3 col-lg-4 offset-lg-4'>
      <h1 class='h4'>Sign in to your account.</h1>
      <form action="{{ url_for('auth.githubLogin')}}" method="get">
        <button type="submit" class='btn btn-dark w-100'>Sign in with GitHub</button>
      </form>
      <hr/>
      <p class='text-muted text-center small'>Don't have an account? <a href="{{ url_for('auth.register') }}">Create an account</a>.
    </div>
  </div>
</div>
{% endblock %}
