{% extends 'layout.html' %}

{% block content %}
<div class='container my-5 pt-5'>
  <div class='row'>
    <div class='col-md-6 offset-md-3 col-lg-4 offset-lg-4'>
      <h1 class='h4'>Sign in to your account.</h1>
      <form method="post" class='form-group'>
        <div class='form-group'>
          <label for="username" class='mb-0'><small class='font-weight-bold'>Username</small></label>
          <input class='form-control' name="username" id="username" placeholder='Enter your username' required>
        </div>
        <div class='form-group'>
          <label for="password" class='mb-0'><small class='font-weight-bold'>Password</small></label>
          <input class='form-control' type="password" name="password" placeholder="Enter your password" id="password" required>
        </div>
        <button type="submit" class='btn btn-primary w-100'>Sign in</button>
      </form>
      <form action="{{ url_for('auth.githubLogin')}}" method="get">
        <button type="submit" class='btn btn-dark w-100'>Sign in with GitHub</button>
      </form>
      <hr/>
      <p class='text-muted text-center small'>Don't have an account? <a href="{{ url_for('auth.register') }}">Create an account</a>.
    </div>
  </div>
</div>
{% endblock %}
