{% extends 'layout.html' %}

{% block content %}
<div class='container my-5 pt-5'>
  <div class='row'>
    <div class='col-md-6 offset-md-3 col-lg-4 offset-lg-4'>
      <h1 class='h4'>Create an account.</h1>
      <form action="{{ url_for('auth.githubLogin')}}" method="get">
        <button type="submit" class='btn btn-dark w-100'>Sign up with GitHub</button>
      </form>
      <hr/>
      <p class='text-muted text-center small'>Already have an account? <a href="{{ url_for('auth.login') }}">Sign in here</a>.
    </div>
  </div>
</div>
{% endblock %}
