{% extends 'layout.html' %}

{% block header %}
  <div class='bg-dark text-light py-5'>
    <div class='container py-5 my-4'>
      <h1 class='display-5 mb-1 text-white mb-1'>GitHub API Example</h1>
      <h2 class='lead text-gray-light'>Example of fetching and managing GitHub data.</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="d-flex justify-content-between align-items-end">
    <h5 class="m-0">Starred Repos</h5>
    <form action="{{ url_for('github.search') }}" method="get" class="d-flex">
      <input
        name="query"
        class="form-control form-control-sm"
        placeholder="Search for repos"
      />
      <button type="submit" class="btn btn-primary btn-sm ml-1">Search</button>
    </form>
  </div>
  <hr class="mt-2 mb-3" />
  {% if repos|length == 0 %}
    <div class="bg-light py-5 text-center text-muted">
      <p>No repos available.</p>
    </div>
  {% endif %}
  {% for item in repos %}
    <div>
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          {% if item['owner'] %}
            <a class='text-blue' href="{{ item['html_url'] }}">
              {{ item['owner']['login'] }} / <b>{{ item['name'] }}</b>
            </a>
            <small class="text-muted">
              {{ item['description'] }}
            </small>
            <div class="d-flex mt-2 align-items-center">
              <small class="text-muted mr-3 d-flex align-items-center">
                {{ item['language'] }}
              </small>
              <small class="text-muted mr-3">
                {{ item['stargazers_count'] }} Stars
              </small>
              <small class="text-muted mr-3">
                {{ item['forks_count'] }} Forks
              </small>
            </div>
          {% endif %}
        </div>
        {% if g.user %}
          <form action="{{ url_for('github.star') }}" method="POST">
            <button
              name="full_name"
              class="btn btn-outline-dark btn-sm"
              value="{{ item['full_name'] }}"
              type="submit"
            >
              Unstar
            </button>
          </form>
        {% endif %}
      </div>
      <hr />
    </div>
  {% endfor %}
</div>
{% endblock %}
